.firstBlock.section#section0
    h1.firstBlock__title Всегда ли цели терапии СД2 на поверхности?
    p.firstBlock__point.firstPoint Цель по HbA1c
    p.firstBlock__point.secondPoint Гипогликемия
    p.firstBlock__point.thirdPoint Осложнения СД
    p.firstBlock__point.fourthPoint СС риски
    //- .firstBlock__nav
    //-     <svg xmlns="http://www.w3.org/2000/svg"  width="2.4vh" height="2.4vh" viewBox="0 0 26.62 26.281"><defs><style>.cls-1{fill:#fff}</style></defs><circle id="Эллипс_4_копия" data-name="Эллипс 4 копия" class="navActive" cx="13.31" cy="13.14" r="13.31"/></svg>
    //-     <svg xmlns="http://www.w3.org/2000/svg"  width="2.4vh" height="2.4vh" viewBox="0 0 26.62 26.281"><defs><style>.cls-1{fill:#fff}</style></defs><circle id="Эллипс_4_копия" data-name="Эллипс 4 копия" class="" cx="13.31" cy="13.14" r="13.31"/></svg>
    //-     <svg xmlns="http://www.w3.org/2000/svg"  width="2.4vh" height="2.4vh" viewBox="0 0 26.62 26.281"><defs><style>.cls-1{fill:#fff}</style></defs><circle id="Эллипс_4_копия" data-name="Эллипс 4 копия" class="" cx="13.31" cy="13.14" r="13.31"/></svg>
    a(href="").firstBlock__btnNext 
        div Листайте вниз
