script(src='js/jquery.js')
script(src='js/owl.carousel.js')
script(src="js/jquery.fullpage.js")

script.
    $(document).ready(function(){
    $('.owl-carousel').owlCarousel();
    });
script.
    $(document).ready(function() {
    $('#fullpage').fullpage({navigation: true, navigationPosition: 'right', showActiveTooltip: false, slidesNavigation: false, slidesNavPosition: 'bottom'});
    });