doctype html
html(lang='ru')
  include blocks/head/head.jade

  body
    main#fullpage
      include blocks/firstBlock/firstBlock.jade
      include blocks/secondBlock/secondBlock.jade
      include blocks/thirdBlock/thirdBlock.jade
  include blocks/bottom/bottom.jade
      